.App {
  text-align: center;
  font-family: 'Courgette', cursive;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.header{
  width: 95%;
  height: 35vh;
  margin: 20px auto;
  box-shadow: 3px 3px 5px 6px #ccc;
  border-radius: 15px;
  background-image: url("https://media2.giphy.com/media/X9FTTSAIz4g3rvCFK9/giphy.gif ");
  background-position: left;
  background-repeat: no-repeat;
  background-size: 40vw;
}

.header h1{
  float: right;
  margin-right: 25px;
}

.home{
  margin: 30px auto;
  box-shadow: 3px 3px 5px 6px #ccc;
  border-radius: 15px;
  height: 100vh;
  width: 92%;
  background-image: url("https://image.cnbcfm.com/api/v1/image/105992231-1561667465295gettyimages-521697453.jpeg?v=1561667497");
  background-position: top;
  background-size:  100%;
  background-repeat: no-repeat;
  background-origin: padding-box;
  padding: 30px;
}

.home ul li{
  list-style: none;
}

.nav-bar{
 margin-right: 15px;
}
.nav-link{
  width: 100px;
  display: block;
  box-shadow: 3px 3px 5px 6px #ccc;
  margin: 10px;
  padding:10px;
  border-radius: 15px;
  text-decoration: none;
  float: right;
}

.pet-container{
  height: 100vh;
  overflow: auto;
  
}

.user-container{
  /* border: 1px solid black; */
  height: auto; 
}

.login-form, .sign-up-form{
  box-shadow: 3px 3px 5px 6px #ccc;
  border:none ;
  border-radius:15px;
  width:30%;
  margin: 10px 5%;
  padding: 15px;
}

.dog-img{
  margin: 0 auto;
  height: 60vh;
  width: 100%;
  object-fit: cover;
  border-radius: 15px 15px 0 0 ;
}

.dog-img-div{
  overflow: hidden;
}

.dog-item {
 width: 30%;
 float: left;
 margin: 20px;
 box-shadow: 3px 3px 5px 6px #ccc;
 border-radius: 15px;
}

.profile-div{
  box-shadow: 3px 3px 5px 6px #ccc;
  border-radius: 15px;
  padding-bottom: 10px;
}

.profile-item{
  width: 30%;
  height: 50%;
  margin: 5% 2%;
  font-size: 20px;
}

.profile-info{
  background-color: hsla(155, 53%, 86%, 0.3);
  border-radius: 45px;
  margin: 15px;
  padding-bottom: 25px;
}

.clear{
  clear: both;
}

.dog-card-container{
  width: 40vw;
  margin: 0 auto;
  box-shadow: 3px 3px 5px 6px #ccc;
  border-radius: 15px;
  padding: 15px;

}
.dog-card-img{
  border-radius: 15px;
  width: 100%;
  height: auto;
}

.dog-info{
  /* border: 1px solid black; */

  /* background-color: rgba(151,189,150, 0.7) */
  background-color: rgba(250,250,250, 0.9);
  padding: 10px;
  margin-top: 0;
}

.adoption-container{
  /* background: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1)); */
  height: auto;
  /* margin-top: 6%; */
  float: left;
  display: block;
  width: 100%;
  overflow: hidden;
  background: linear-gradient(to right, rgba(255,0,0,0), rgba(120, 218, 100, 0.2), rgba(46,139,53,0.4),
  rgba(32,107,18, 0.5),rgba(44,88,2, 0.8));
  border-radius: 15px;
  margin-top: 8%;
}

.adoption-img-container{
 overflow: hidden;
 height: 50vh;
}

.adoption-img{
  width: 100%;
  border-radius: 15px 15px 0 0 ;
}

.adoption-item{
 width: 30%;
 float: left;
 margin: 20px;
 box-shadow: 3px 3px 5px 6px #ccc;
 border-radius: 15px;
}

.login-form input[type="text"], input[type="password"], 
.sign-up-form input[type="text"], input[type="password"] .select{  
   height:15px;
   margin: 15px;
   text-align: center;
   display: block;
}

.sign-up-form .name-input, .password, .username, .select, .location, input[type="submit"], 
.login-form .name-input, .password, input[type="submit"]{
   height:15px;
   margin: 15px;
   text-align: left;
   display: block; 
}

.sign-up-form .select{
  height:25px;
}

.sign-up-form input[type="submit"], .login-form input[type="submit"]{
  width:130px;
  text-align: center;
}

.profile-img{
  width: 100%;
}


.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden ;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.profile-edit-button{
 display: block;
 margin: 10px auto;
 width: 158px;
 height: 28px;
 padding: 5px;
 
}

.delete-button{
  display: block;
  height: 20px;
  width: 140px;
  padding-top: 5px;
}
