.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.header{
  border: 2px solid black;
  height: 25vh;
  margin: 10px 5px;
}

.home{
  border: 2px solid red;
  height: 100vh;
  overflow: scroll;
  margin: 10px 5px;
}

.nav-link{
  width: 100px;
  display: inline-block;
  border: 2px solid black;
  margin: 10px;
  padding:10px;
}

.user-container{
  /* border: 2px solid green; */
}

.pet-container{
  border: 1px solid black;
  padding-left: 5%;
  height: 100%;
  overflow: auto;
}


.adoption-container{
  /* border: 2px solid purple; */
}
 

.dog-img{
  margin: 0 auto;
  height: 60vh;
  width: 100%;
  object-fit: cover;
  border-radius: 15px 15px 0 0 ;
  
  
}

.dog-img-div{
  overflow: hidden;

}



.dog-item{
 width: 30%;
 float: left;
 margin: 40px;
 box-shadow: 3px 3px 5px 6px #ccc;
 border-radius: 15px;
}

.clear{
  clear: both;
}

.dog-card-container{
  width: 60vw;
  margin: 10px auto;
  box-shadow: 3px 3px 5px 6px #ccc;
  border-radius: 15px;
  padding: 15px;
}

.dog-card-img{
  border-radius: 15px;
  width: 70%;
  height: auto;
}

.login-form{
  border: 1px solid black;
  width: 50%;
  margin: 15px auto;
  padding: 15px;
}